# Prerequisites
*.d

# Compiled Object files
*.elf
*.ko
*.lo
*.o
*.obj
*.slo

# Linker output
*.exp
*.ilk
*.map

# Precompiled Headers
*.gch
*.pch

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Compiled Static libraries
*.a
*.la
*.lai
*.lib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Fortran module files
*.mod
*.smod

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.idea

out

cmake-build-debug/*
